@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: #2B2D54;
  --foreground: #2B2D54;
  --card: #ffffff;
  --card-foreground: #2B2D54;
  --popover: #ffffff;
  --popover-foreground: #2B2D54;
  --primary: #2B2D54;
  --primary-foreground: #ffffff;
  --secondary: #f4f4f5;
  --secondary-foreground: #2B2D54;
  --muted: #f4f4f5;
  --muted-foreground: #71717a;
  --accent: #f4f4f5;
  --accent-foreground: #f4f4f5;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #e4e4e7;
  --input: #2B2D54;
  --ring: #2B2D54;

  --chart-1: #2B2D54;
  --chart-2: #E2C064;
  --chart-3: #2a9d8f;
  --chart-4: #e9c46a;
  --chart-5: #f4a261;

  --sidebar: #f8fafc;
  --sidebar-foreground: #2B2D54;
  --sidebar-primary: #2B2D54;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #f1f5f9;
  --sidebar-accent-foreground: #2B2D54;
  --sidebar-border: #e2e8f0;
  --sidebar-ring: #2B2D54;
}

.dark {
  --background: #2B2D54;
  --foreground: #ffffff;
  --card: #32345e;
  --card-foreground: #ffffff;
  --popover: #2B2D54;
  --popover-foreground: #ffffff;
  --primary: #E2C064;
  --primary-foreground: #ffffff;
  --secondary: #3e416e;
  --secondary-foreground: #ffffff;
  --muted: #ffffff;
  --muted-foreground: #E2C064;
  --accent: #3e416e;
  --accent-foreground: #ffffff;
  --destructive: #7f1d1d;
  --destructive-foreground: #ffffff;
  --border: #E2C064;
  --input: #E2C064;
  --ring: #E2C064;

  --chart-1: #E2C064;
  --chart-2: #2a9d8f;
  --chart-3: #e9c46a;
  --chart-4: #f4a261;
  --chart-5: #e76f51;

  --sidebar: #2B2D54;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #E2C064;
  --sidebar-primary-foreground: #2B2D54;
  --sidebar-accent: #3e416e;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #E2C064;
  --sidebar-ring: #E2C064;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}